body{background-image: url(effect.png);background-repeat: repeat;}
.papper{border: 10px solid white;
    width: 1000px;height: 600px;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    margin: auto;
perspective: 1000px;}
    .papper>div{border: 1px solid red;width: 198px;
        height: 598px;
        float: left;background-image: url(table.jpg);transition:  0.5s;}
        
        .papper>div:nth-child(2){background-position: -200px 0px;transform:translateX(-50px) rotateY(-45deg) scaleY(1.07);}
        .papper>div:nth-child(3){background-position: -400px 0px;transform:translateX(-110px) rotateY(45deg) scaleY(1.07);}
        .papper>div:nth-child(4){background-position: -600px 0px;transform:translateX(-170px) rotateY(-45deg) scaleY(1.07);}
        .papper>div:nth-child(5){background-position: -800px 0px;transform:translateX(-230px) rotateY(45deg) scaleY(1.07);}
